.darkmode {
    background-color: black;
    color: white;
    text-align: center;
}
.setTimeout {
    text-align: center;
}
      
        
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }
    .bb {
        background-color: aqua;
    }

